/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  overflow: hidden; /* Disable scrolling */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: 15% auto; /* Center it vertically and horizontally */
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #888;
  width: 80%; /* Adjust as needed */
  max-width: 500px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}